
.centerTextRowspan {
    padding: 8px;
    text-align: center; /* Horizontally center the content */
    vertical-align: middle; /* Vertically center the content */
  }

.userCriteriaTable {
    font-size: 12px;
}
.container {
  position: relative;
  height: 300px; /* Adjust the height of the container as needed */
}
.bottom-div {
  position: absolute;
  bottom: 0;
}


@media print {

  .tableSummary{
    margin-left: 50px;
    margin-right: 50px;
    width: 1035px;
  }
  .tablePerJudge{
    margin-left: 50px;
    margin-right: 50px;
    width: 700px; 
  }
 
  .final_result_container {
    margin-top: 600px;
    width:100%;
    height:100%;
  }
  .tableFinalResult{
    /* margin-left: 50px;
    margin-right: 50px; */
    /* margin-left: 150px; */
    width: 500px;

    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
  .printPerJudgePage{ 
    page-break-before: always;  
  }
}


  